body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;

}

#logo {
    display: flex;
    align-items: normal;
    font-size: large;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search input {
    height: 2.8rem;
    width: 500px;
    background: white;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#search button {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#right-images {
    display: flex;
    align-items: center;
}

#right-images img {
    margin-right: 15px;
    border-radius: 1.625rem;
}

#mainDiv {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#secondNav {
    float: left;
    background-color: black;
    color: white;
    height: 100vh;
    width: 15%;
    display: flex;
}

#secondNav ul a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#secondNav ul li:hover {
    background-color: gray;
}

.x1 {
    list-style-image: url(images/navigation_bar_2/home.png);
    padding-left: 20px;
    padding-bottom: 15px;
}

.x2 {
    list-style-image: url(images/navigation_bar_2/shorts.png);
    padding-left: 20px;
    padding-bottom: 15px;
}

.x3 {
    list-style-image: url(images/navigation_bar_2/subscriptions.png);
    padding-left: 20px;
    padding-bottom: 15px;
}

.x4 {
    list-style-image: url(images/navigation_bar_2/music.png);
    padding-left: 20px;
    padding-bottom: 50px;
}

.x5 {
    list-style-image: url(images/navigation_bar_2/library.png);
    padding-left: 20px;
    padding-bottom: 15px;
}

.x6 {
    list-style-image: url(images/navigation_bar_2/history.png);
    padding-left: 20px;
    padding-bottom: 15px;
}

#horizontalDiv {
    display: flex;
    background-color: black;
    margin: 0;
    padding: 0;
}

.horizontal-list li:hover {
    background-color: white;
    color: black;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.horizontal-list li {
    margin-right: 20px;
}

.horizontal-list li {
    background-color: #5A5A5A;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.horizontalAndMovie {
    margin: 0;
    padding: 0;
}

#movieDiv {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
}

.video-cards {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-cards li {
    background-color: black;
    color: white;
    margin-right: 1px;
}

.video-cards li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-content {
    padding: 15px;
}

.card-content h4 {
    margin: 0;

}

.card-content p {
    color: gray;
    margin-top: 5px;
}